API_ID=16490688
API_HASH=ad958ab159ed1125afb5fcdc3875b120
BOT_TOKEN=7697813860:AAHkkrklc8RD5M9hs5-8eVa6BulOZ9xxXbo
LOGGER_ID=-1002137616770
MONGO_DB_URI=mongodb+srv://d25563321:15406578@cluster0.tog9z.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7252249791
STRING_SESSION=BQGFKr4AVBcizLAKXgDvTVsA10kURAIFTa4rvcqIzyYIoVLXGf6gP1U8TbUQhbR6kvsF-2HwIQbt2HxIlLHo3ZlCUxE1unok0Z3U0oMZdYf5iyrgjkpDmOD5obj-ry2fkOVwMGs5r4Ft8mD1iUAXdOYiGfYDq_qGP2SQR7Vtwn8bsvTKTg_4EZnDxhMRB9HojFJum3re5YHDMz3WKI3A5776kqq09kZFv6MscLgxgTg2512wdolCoM71MEAaze2flUgYWu73Q0Ql8C4yn46Hc1xxgJY_r_TrTNF39iCJccmZYJKMpmPu_K1QeFuS4T3MaOJGxBOsz2cefibmxxelQbzpvWbsRwAAAAHCCUzkAA

